@media(max-width:800px){
    .hero-right{
        width: 300px;
    }
    .service-right img{
        width: 250px;
    }
    .service-left{
        width: 300px;
    }
    .left figure img{
        width: 250px;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .help{
        top: 70vh;
    }

}

@media(max-width:771px){
    .grid , .showcase .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        text-align: center;
    }
    .showcase{
        height: 650px;
    }
    .showcase-form{
        justify-self: center;
    }
    .left{
        justify-self: center;
    }
    .part-1{
        text-align: center;
    }
    .grid-2{
        justify-content: center;
    }
    .grid-3{
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
        text-align: center;
    }
    .right{
        justify-self: center;
    }
    .container h1{
        text-align: center;
    }
    .container .h1{
        text-align: center;
    }
    .flex-2{
        justify-content: center;
    }
    .contact .grid{
        text-align: start;
    }
    
}
@media(max-width:600px){
    
    .navbar{
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        height: auto;
    }
    .fa-user{
        visibility: hidden;
    }
    .one .fas{
        visibility: visible;
    }
    .logo{
        margin-bottom: 10px;
    }
    
}
@media(max-width:625px){
    .navbar{
        grid-template-columns: auto;
        justify-content: center!important;
        text-align: center;
    }
    .logo{
        margin-bottom: 10px;
    }
    .fas{
        margin-top: 10px;
    }
    .centre{
        width: 70vw;
    }
}
@media(max-width:615px){
    .grid-3{
        grid-template-columns:  1fr;
    }
}
@media(max-width:400px){
    .showcase-form{
        width: 250px;
    }
    .footer{
        grid-template-columns: auto;
        justify-content: center;
    }
    nav ul{
        grid-template-columns: auto auto auto;
        row-gap: 10px;
    }
}
@media(max-width:500px){
    .grid-2{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media(max-width:315px){
    .showcase-form{
        width: 200px;
    }
    .grid figure img{
        width: 150px;
    }
    .part-2 figure img{
        width: 100px;
    }
    .map iframe{
        width: 200px;
        height: 300px;
    }
}
